<mat-card>
    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" type="date" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Time</mat-label>
            <input matInput formControlName="time" type="time" required>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</mat-card>